body {
    width: 1818px !important;
    overflow-x: hidden;
}

.Brand {
    display: flex;
	justify-content: space-between;
    margin-left: 40px;
    margin-right: 750px;
}

.notify {
    border-radius: 5px !important;
}

.title_brand {
    padding-left: 2.7px;
}

.navbar {
    margin-top: -10px; 
    justify-content: left;
    font-size: 18px;
    font-weight: bold;
}

.item {
    color: antiquewhite !important;
}

.item_activate {
    color: rgb(44, 62, 80);
}

.search_div {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.search {
    width: 250px;
    border-radius: 5px;
}

.icon_search {
    padding-right: 10px;
}

.btn_search {
    border-radius: 5px;
}

.card_nav {
    height: 75px !important;
	border-radius: 5px;    
	box-shadow: 0 4px 8px 0 rgba(228, 227, 227, 0.2);
    margin-bottom: 10px;
}

.card_title {
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
}

.card_body {
    display: flex;
    justify-content: space-between;
}

.div_principal {
    margin-right: 5px;
}

.div_segundario {
    margin-left: 10px;
    margin-top: 35px;
}

.porcent {
    text-shadow: 5px 3px rgba(0, 0, 0, 0.288);
    width: 150px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    margin-left: 50px;
    margin-right: 10px;
    color: rgba(240, 248, 255, 0.8);
}

.col_card {
    border-radius: 15px;
    border: 1px solid rgba(24, 23, 23, 0.6);
	box-shadow: 0 4px 8px 0 rgba(54, 54, 54, 0.8);
}

.col_block {
    height: 300px;
    width: 555px;
    border-radius: 15px;
    border: 1px solid rgba(24, 23, 23, 0.6);
	box-shadow: 0 4px 8px 0 rgba(54, 54, 54, 0.8);
}

.col_down {
    margin-top: 15px;
}

.card_2col {
    height: 616px;
    border-radius: 15px;
    border: 1px solid rgba(24, 23, 23, 0.6);
	box-shadow: 0 4px 8px 0 rgba(54, 54, 54, 0.8);
}

.card_3col {
    margin-top: 15px;
}

.cards_x4 {
    border-radius: 15px;
    border: 1px solid rgba(24, 23, 23, 0.5);
	box-shadow: 0 4px 8px 0 rgba(54, 54, 54, 0.8);
}

.col_info {
    justify-content: center;
    height: 450px;
    border-radius: 15px;
    border: 1px solid rgba(24, 23, 23, 0.6);
	box-shadow: 0 4px 8px 0 rgba(54, 54, 54, 0.8);
}

.info_call {
    height: 350px !important;
}

.content_call_info {
    color: #2C3E50 !important;
    display: inline-block;
    align-self: center;
    margin-top: 40px;
    text-align: center;
}

.sales_indicator {
    display: flex;
    justify-content: center;

}

.principal_content_call_info {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 0px;
}

.secondary_content_call_ingo {
    font-size: 30px;
    color: #27AE60;
    margin-bottom: 25px;
    margin-top: -2px;
}

.span_content_call_info {
    font-size: 13px;
    margin-top: 5px;
}

.left_map {
    width: 555px;
}

.first_title {
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: rgb(251, 253, 253);
    background-clip: text;
    -webkit-background-clip: text;
}

.title_card {
    color: #2C3E50;
    font-size: 30px;
}

.icon_first_title {
    margin-right: 15px;
    color: rgb(251, 253, 253);
}

.row_block {
    display: inline-block;
}

.content_row_one {
    display: flex;
    padding-right: 30px !important;
}

.row_x4 {
    margin-top: 8px;
    margin-right: 0.5px;
}

.Row_Two, .Row_Three, 
.Row_four, .Row_footer {
    margin-top: 15px;
}

.footer_content {
    text-align: center;
    color: #0F2537;
}

.footer_col_one {
    margin-top: 10px;
}

.title_footer {
    font-size: 45px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.headline_footer {
    font-size: 25px;
}

.footer_col_two {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_col_three {
    margin-top: 10px;
}

.icon_compy_right {
    font-size: 18px;
}

.footer_links {
    text-decoration: none !important;
    color: #0F2537;
    font-size: 28px;
    margin-left: 20px;
}

/*Graphics*/

#sells, #buys {
    height: 250px !important;
}

#analysis {
    height: 510px;
}

#sales_map {
    margin: 0px;
    height: 350px;
}

#sales_indicator {
    color: #2C3E50;
    padding-top: 20px;
}

.scatter_plot {
    height: 480px;
}

#Scatter_plot {
    height: 450px;
    margin-top: -5px;
}